@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;700&family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.font-roboto {
  font-family: 'Roboto', sans-serif;
}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}
    

.div2 {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 2;
}

.div3 {
    grid-row: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 1;
}

.div4 {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 1;
}

.div5 {
    grid-column-start: 3;
    grid-row-start: 4;
}

.div6 {
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 1;
}

.div7 {
    grid-column-start: 5;
    grid-row-start: 1;
}

.div8 {
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 2;
}
        
  /* 🔥 Ocultar scrollbars sin romper scroll vertical */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
   

        
